body {
	background:#888
}
.container {
	width:960px;
	max-width:100%;
	margin:auto;
	background:#fff;
	box-shadow: 0px 3px 6px #333;
	border-radius: 5px;
}
.content {
	padding:20px;
	margin: 20px;
}
.container .content h2 {
	margin-bottom:20px;
	font-weight: normal;
	font-size: 36px;
}
.border-bottom {
	border-bottom: 1px solid #ddd;
}
.new-input {
	height: 31px;
	padding-left: 5px;
}
