<!DOCTYPE HTML>
<html lang="en" ng-app="weatherApp">
<head>
	<title>What's the Weather?</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/service.css">
	<script src="js/underscore.js"></script>
	<script src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-resource.js"></script>
	<script src="js/service.js"></script>
</head>
<body ng-controller="weatherCtrl">
	<div class="container">
		<div class="content">
			<p>I live in a hole in the ground under a rock... with a postal code.</p>
			<h2>What's the weather like?</h2>

			<p>Zip Code
				<span>
					<input class="new-input"type="text" ng-model="zip"></input>
					<input class="get-btn" type="submit" ng-click="getLocation()" value="Get Weather"></input>
				</span>
			</p>

			<div class="weather-box">
				<h3> The {{ weather.display_location.city }} weather right now is... {{ weather.weather }}</h3>
				<div class="weather-status">
					<img class="align-text" ng-src="{{ weather.icon_url }}">
					<h3 class="inline">{{ weather.temp_f }}&deg F</h3>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
